:root {
    --main_color: #000000;
    --secondary_color: #800707;
    --text_color: #ffffff;
    --shadow_color: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: var(--main_color);
    color: var(--text_color)
}

.circle {
    border-radius: 0 0 50% 50%;
    width: 100%;
    min-height: 20vh;
    max-height: 30vh;
    background-color: var(--secondary_color);
    text-align: center;
}

i {
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 3vw;
    color: var(--text_color);
    cursor: pointer;
}

section {
    margin: 3vw 8vw;
    background-color: var(--secondary_color);
    color: var(--text_color);
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 80vw;
    background-color: var(--secondary_color);
    display: block;
    border: none;
    border-radius: 2vw;
    padding: 2vw;
}

section button {
    padding: 0.52vw 0.78vw;
    background-color: var(--main_color);
    color: var(--text_color);
    border-radius: 0.5vw;
    cursor: pointer;
    border: none;
    
}


h2 {
    position: relative;
    top: 1em;
    font-weight: bold;
    font-size: 2vw;
    display: inline-block;
}

.border {
    border: 1px solid yellow;
}

.filter-container {
    border: 1px solid #ccc;
}

.filter-group {
    margin: 2vw;
    display: flex;
    align-items: flex-start;
}

.filter-label {
    width:7vw;
    display: block;
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1vw 4vw 1vw 2vw;
    color: var(--text_color);
}

.filter-options {
    display: flex;
    gap: 1vw;
}

.filter-option {
    background-color: var(--shadow_color);
    color: var(--text_color);
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 1.5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    width:5vw;
}


.movie_cards {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    position: relative;
    top: 1vw;
    left: 9vw;
    padding-bottom: 10vh;
}

.movie_card {
    position: relative;
    right: 1vw;
    width: 20vw;
    height: 55vh;
    background-color: var(--secondary_color);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.cover {
    min-height: 20vh;
    max-height: 30vh;
    min-width: 7vw;
    max-width: 15vw;
    margin: 1vw;
    position: relative;
}

.trailer {
    min-height: 20vh;
    max-height: 30vh;
    min-width: 7vw;
    max-width: 15vw;
    margin: 1vw;
    position: relative;
    display: none;
}

.movie_info {
    display: block;
    text-align: left;
    margin-bottom: 1vw;
}

a {
    text-decoration: none;
}

