:root {
    --main_color: #000000;
    --secondary_color: #800707;
    --text_color: white;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main_color);
    color: var(--text_color)
}

.circle{
    border-radius: 0 0 50% 50% ;
    width:100%;
    min-height:20vh;
    max-height:30vh;
    background-color: var(--secondary_color);
}

i {
    position: absolute;
    top: 1vw;
    right:1vw;
    font-size: 3vw;
    color: var(--text_color);
    cursor: pointer;
}

section{
    position: relative;
    top: 5%;
    left: 32.5vw;
    background-color: var(--secondary_color);
    color: var(--text_color);
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width:30vw;
    background-color: var(--secondary_color);
    display: block;
    border:none;
    border-radius: 2vw;
    padding:2vw;
}

section button {
    padding: 0.52vw 0.78vw;
    background-color: var(--main_color);
    color: var(--text_color);
    border-radius: 0.5vw;
    cursor: pointer;
    border: none;
}

section form input{
    padding: 0.416vw;
    margin-bottom: 1vw;
    border: 1px solid var(--secondary_color);
    border-radius: 4px;
    background-color: var(--main_color);
    color: var(--text_color);
    width: 18vw;
}


label{
    display: block;
    text-align: center;
    font-size: 1.2vw;
    margin-top:0.5vh;
}


h2{
    position: relative;
    top: 1em;
    font-weight: bold;
    font-size: 2vw;
    display: inline-block;
}


p{
    font-size: medium;
}

.border{
    border: 1px solid yellow;
}